/*
 * Used for clickable button color
 */
.sh-blue-bg span{
background-color: #4D94FF;
}

.sh-green-bg span{
background-color: #66C266;
}


/*
 * Used for pure color selection
 */
.sh-green {
color: #66C266;
}

.sh-blue {
color: #4D94FF;
}


input:focus
{
background-color:grey;
}

/*
 * Menu Hover Effect Circle Button
 * Usage:
 * <a href="#" class="menu">Hello</a>
 */
.sh-menu
{
display:block;
width:200px;height:200px;
border-radius:50%; 
border:10px double #ffffff;/*comment out this line if don't want double border, also have to change radious above*/
font-size:33px;color:#fff;
line-height:190px;
text-align:center;
text-decoration:none;
}

.sh-menu.double
{
}

.sh-menu.blue
{
background:#4D94FF;
}

.sh-menu.green
{
background:#66C266;
}

.sh-menu.yellow
{
background:#FFD119;
}

.sh-menu:hover
{
color:#ccc;
text-decoration:none;
}

.sh-menu.blue:hover
{
background:#3E76CC;
}

.sh-menu.green:hover
{
background:#529B52;
}

.sh-menu.yellow:hover
{
background:#E6BC16;
}

.sh-menu span
{
color:#ffffff;
}


/* 
 * Stylish Menu Hover Effect Circle Button 
 * Usage:
 * <a href="#" class="stylish">Hello</a>
 */
.sh-stylish
{
display:block;
width:100px;height:100px;
border-radius:66px;border:4px double #ccc;
font-size:20px;color:#666;
line-height:100px;
text-align:center;
text-decoration:none;
text-shadow:0 1px 0 #fff;
background:#ddd
}

.sh-stylish:hover
{
border:4px double #bbb;
color:#aaa;
text-decoration:none;
background:#e6e6e6
}


/* 
 * Plain Circle With or Without Text Inside 
 * Usage: 
 * <div class="circle">Hello</div>
 */
.sh-circle
{
width:100px;height:100px;
border-radius:50px;
font-size:20px;color:#fff;
line-height:100px;
text-align:center;
background:#000
}


/*
 * Select and style an input field when it gets focus:
 */
input:focus
{
background-color:#E6E6E6;
}


/*
 * Company profile style
 */
.sh-companyprofile-main
{
margin-left: 0px;
}

iframe.sh-companyprofile-main 
{
margin-left: 10px;
margin-right: 10px;
}

h1.sh-company-title 
{
text-align:center;
font-size:80px;color:#0366ff;
display:inline;
}

a.sh-company-title
{
margin-right:30%;
/*
opacity:0.9;
filter:alpha(opacity=90); /* For IE8 and earlier */
*/
}

img.sh-companysearch
{
position:relative;
left: 0px;
top: -20px;
}

div.sh-companysearch-current
{
border:solid;
}

/* Scott Impelmentaion */
#search input[type="text"] {
    background: url(./media/images/search-ico.png) no-repeat 10px 6px #fcfcfc;
    border: 1px solid #d1d1d1;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #bebebe;
    width: 250px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    }

#search input[type="text"]:focus {
    width: 200px;
    }



.main2, .sidebar2{ float: left; }
.main2 { width: 50%; clear: both; padding-bottom: 20px; margin-bottom: 5%}
.sidebar2 { width: 50%; padding-top: 0px;}
#content.left-sidebar .main2{margin-left: 0;}
#content.left-sidebar .sidebar2 { margin-left: 0; padding-left: 0; }

/* == Scott Impelmentaion */
